@import "settings";

.home {
  min-height: 100%;
  width: 100%;
  position: relative;

  &__spinner {
    @include spinner(null, 2em);
    display: block;
    margin: auto;
  }

  &__spinnerWrapper {
    padding-top: 4em;
  }
}
