@import "settings";

.form__input {
  width: 100%;
  padding: 10px 10px 10px;
  font-size: 1.3em;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-bottom: 1px solid #2a7c58;
}

.form__input:focus {
  outline: none;
  border-top: 1px solid #9b8748;
  border-left: 1px solid #9b8748;
  border-right: 1px solid #9b8748;
}

.form__label {
  display: block;
  padding-left: 5px;
  margin-bottom: 3px;
}

.form__submit {
  display: block;
  margin: 20px auto 0;
  font-size: 1.3em;
  padding: 6px 15px 8px;
  border-radius: 25px;
  background: #2a7c58;
  background-image: linear-gradient(to top, #2a7c58, #9b8748);
  font-weight: 700;
  color: #f7f7f7;
  border: 1px solid #9b8748;
  outline: none;
}

.form__submit:focus {
  box-shadow: 0 3px 10px rgba(0, 0, 0, .12);
}

.form__submit:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .12);
}