@import "settings";

.datePicker {
  width: 100%;
  padding: 5px;
  border: 1px solid $brand-one;
  border-radius: 4px;
  margin: 0 0 15px;

  &__month {
    display: flex;
    flex-flow: column nowrap;
  }

  &__week {
    display: flex;
    flex-flow: row nowrap;
  }

  &__day {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: calc((100vw - 40px) / 7);
    box-sizing: border-box;
    padding: 3px;
  }

  &__dayBtn {
    flex: 1;
    height: 100%;
    background: none;
    border-radius: 4px;
    border: none;
    background: #fafafa;
    color: $black;

    &:hover,
    &:focus {
      background: #f0f0f0;
    }

    &:active {
      background: $brand-one;
      background-image: linear-gradient(to top, $brand-one, $brand-two);
      font-weight: 700;
      color: #f7f7f7;
    }

    &_selected {
      border: 1px solid $brand-one;
      font-weight: 700;
    }
  }

  &__dayNames {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
  }

  &__dayName {
    text-align: center;
    flex: 1;
    color: $black;
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__changeMonthBtn {
    flex: 0 1 50px;
  }

  &__monthName {
    font-weight: 700;
    color: $black;
  }
}
