@import "settings";

.login {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: $brand-one;
  background: linear-gradient(to bottom, $brand-one, $brand-two);
  color: $white;
  overflow: hidden;
  text-align: center;

  @include desktop {
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    margin-top: 5%;
    font-style: italic;
  }

  &__subtitle {
    margin-top: 25%;

    @include desktop {
      margin-top: 0;
    }
  }

  &__button {
    @include button_white;
    display: flex;
    align-items: center;
    padding-left: 3em;
    padding-right: 4em;
    margin: auto;

    &_loading {
      color: transparent;
      position: relative;
      cursor: wait;

      &::after {
        @include spinner_pseudo('../../assets/icons/spinner_green.svg');
        content: '';
      }

      img {
        opacity: 0;
      }

    }
  }

  &__icon {
    width: 40%;
    margin-right: -8%;
    margin-top: 15%;

    @include tablet {
      width: 20%;
      margin-right: -4%;
    }

    @include desktop {
      width: 200px;
      margin-right: -45px;
    }
  }

  &__statusText {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: $text-color-transparent;
    font-size: 1em;
  }

  &__spinner {
    @include spinner(null, 3em);
    display: block;
    margin: auto;
  }
}
